* {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    margin-left: 20px;
    max-height: 4rem;
}

body {
    margin: 0;
}


button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    transition: background-color 0.25s;
}

.search_box {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
    padding: 10px 2px;
    transition: 0.25s;
}

.search_box:focus {
    margin: 50px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.16);
    color: black;
}

.menu {
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    width: 100%;
    height: 70rem;
    background-image: url("https://wallpapercave.com/wp/wp3935830.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 8rem;
    font-weight: bolder;
    color: white;
    margin: 10px;
}

.subtitle {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.back-white {
    background-color: rgb(221, 221, 221);
    padding: 20px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
}

.back-white:hover {
    background-color: rgb(191, 191, 191);
}

.seccion {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.seccion_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 20rem;
    width: 16rem;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.154);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 5px;
}

hr {
    width: 90%;
}

.card_title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card_img {
    height: 5rem;
    width: 5rem;
    border: 1px solid rgba(128, 128, 128, 0.103);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.154);
    border-radius: 2.5rem;
}

.black {
    color: black;
}

.seccion:nth-child(2n) {
    background-color: rgba(128, 128, 128, 0.157);
}

.open_card {
    margin: 10px;
    height: 34rem;
    width: 16rem;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.154);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.card_subtitle {
    color: #333333;
    font-weight: 200;
    font-size: 18px;
}

.open_card_img {
    width: 100%;
    min-height: 10rem;
    max-height: 14rem;
}

p {
    font-size: 12px;
}

.flex_list {
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card_button {
    background-color: rgb(8, 142, 64);
}

.full_card_title {
    font-size: 2rem;
    margin: 2px;
    margin-top: 20px;
}

.full_card_subtitle {
    margin: 2px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 200;
    font-size: 18px;
}

.open_card_title_box {
    height: 100px;
}

.footer {
    background-color: rgb(8, 142, 64);
    min-height: 14rem;
    max-height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.back-green {
    background-color: rgb(8, 142, 64);
    color: white;
}

.footer_element {
    color: white;
}

.main_search {
    background-color: white;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
    padding: 10px 2px;
    display: flex;
    justify-content: space-between;
    width: 60rem;
}

.search_input {
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    border-width: 0;
    background-color: rgba(51, 51, 51, 0.158);
    color: #000000;
    font-size: larger;
    text-align: center;
    transition: 0.25s;
}

.search_input:hover {
    font-size: x-large;
}

.text-shadow {
    text-shadow: 5px 5px 0 black;
}

.search_select {
    width: 40%;
    margin: 10px;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    font-size: larger;
    cursor: pointer;
}