/* INSERT MOBILE CSS */
@media screen and (orientation:portrait) and (max-width: 500px){
    .top_button {
        display: none;
    }
    .main_search {
        width: 90%;
    }

    .title{
        font-size: 5rem;
        font-weight: bolder;
        color: white;
        
    }

    .subtitle{
        font-size: 2rem;
        font-weight: bold;
        color: white;
        margin-bottom: 10px;
    }

    .hamburguer {
        display: inline;
    }
}